//Kezz is awesome http://webdesign.tutsplus.com/courses/become-a-css-superhero-with-stylus
$phi = 1.618
$golden_major = 0.618
$golden_minor = 0.382

$base_font_size = 16
$px = ( 1 / $base_font_size ) rem

$f-header = "Courier New", Courier, monospace
$f-primary = Verdana, Geneva, sans-serif
$f-secondary = Verdana, Geneva, sans-serif

//Colors
$c-primary = #5AE327 //Green
$c-secondary = #787878 //Grey
$c-tertiary = #4A74E5 //Blue


