.btn
  padding 3em
  margin 1em 5em
  background $c-primary
  border none !important
  border-radius 5px
  box-sizing border-box
  box-shadow none
  color white
  cursor pointer
  display inline-block
  font-family $f-secondary
  line-height 1em

  &hover 
    background $c-secondary
    color white
  
  &active 
    background $c-primary
    box-shadow rgba(black, .2) 0 1px 3px 0 inset
    color white
  
  &.primary 
    background $c-primary
    &hover
      color white
    
    &active
      box-shadow rgba(black, .2) 0 1px 3px 0 inset
      color white
    
  
