@import '_variables'
@import '_mixins'

html
body
  margin 0
  padding 0
  height 100%

header
  background #000 50% 0 no-repeat
  background-attachment fixed, fixed, fixed, scroll
  background-image  url(noise.png)
  background-position 0 0, 0 0, -5px 5px, 0 50%
  background-repeat repeat, repeat, repeat, no-repeat
  background-size auto, auto, auto, cover
  padding unit($phi, rem) unit($golden_major, rem)
  img  
    padding unit($phi, rem) unit($golden_major, rem)
  h1 
    padding unit($phi, rem) unit($golden_major, rem)

.secondary
  margin-left 600px
  postion absolute
  top 0
  right 0
  background grey
