@import '_variables'
@import '_mixins'
@import 'jeet'

html
body
  margin 0
  padding 0
  height 100%
  font-size 16*$px 

header
  background #000 50% 0 no-repeat
  background-attachment fixed, fixed, fixed, scroll
  background-image  url(noise.png)
  background-position 0 0, 0 0, -5px 5px, 0 50%
  background-repeat repeat, repeat, repeat, no-repeat
  background-size auto, auto, auto, cover
  padding unit($phi, rem) unit($golden_major, rem)
  img  
    padding unit($phi, rem) unit($golden_major, rem)
  h1 
    padding unit($phi, rem) unit($golden_major, rem)

.primary 
  column(2/3)
  padding 1rem 
 
.secondary
  column(1/3)
  background grey
