<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600" rel="stylesheet" type="text/css">
</head>

<body>
</body>

<template name="layout">
  <header>
    {{> Template.dynamic template=logo}}
  </header>
  <div class="secondary">
    {{> yield "secondary"}}  
  </div>  
  <main>
    {{> yield}}
  </main>
</template>

<template name="imageLogo">
  <a class="logo" href="/">
    <img src="{{ logoPath }}" />
  </a>
</template>

<template name="textLogo">
  <a class="logo" href="/">
    <h1>{{ siteName }}</h1>
  </a>
</template>
