lesscss-percentage(n)
  (n * 100)%
@import 'import'
//@import //fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700,700italic
*
  box-sizing(border-box)
html body
  //@extend .type-body
  height 100%
  margin 0
  color color-black
  background color-white
  font-family 'Roboto', sans-serif
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
// a
//   transition(all 0.2s ease)
//   text-decoration none
//   color inherit
h1, h2, h3, h4, h5
  margin 0
h2
  //@extend .type-size-display
  font-weight 500
//img
  //width 100%
label
  //@extend .type-caption
  color color-black-light
p
  margin 0
//ul
  //padding 0
  //margin 0
.header-logo
  width 152px
  padding 9px 0 0 8px
.content
  font-size 120%
  varba5bdaa7422a1eae01804cf2 = "" + xs + ""
  @media varba5bdaa7422a1eae01804cf2
    padding 0px
  var7131103c74877995a6baf533 = "" + md + ""
  @media var7131103c74877995a6baf533
    padding 20px
  p
    margin 1em 0
  a
    border-bottom 4px solid color-accent-light
  li
    line-height 200%
  hr
    margin 2em 0
    border-style solid
    border-color color-black-lightest
html deep .control
  margin 0 10px
html .control
  margin 0 10px
.animated-page-container
  position relative
  > .page-content
    position absolute
    width 100%
    height 100%
    padding 20px
[drawer]
  background-color color-white
[main]
  background-color color-bg-grey
.settings-form
  position absolute
  padding 15px 20px 0 5px
  width 100%
  var281b1803e604f18e0e7b91b0 = "" + md + ""
  @media var281b1803e604f18e0e7b91b0
    width 60%
div[action-buttons]
  margin-bottom 60px
