lesscss-percentage(n)
  (n * 100)%
xs = unquote("(max-width: 767px)")
sm = unquote("(min-width: 768px)")
md = unquote("(min-width: 992px)")
lg = unquote("(min-width: 1200px)")
keyline-xs = 48px
keyline-sm = 56px
keyline-md = 64px
.visible-xs
  display block
  var464e95c0eabf4ffeb72a5b93 = "" + sm + ""
  @media var464e95c0eabf4ffeb72a5b93
    display none
.visible-sm
  display none
  var93ee853100f8b0f057b7c84d = "" + sm + ""
  @media var93ee853100f8b0f057b7c84d
    display block
.visible-md
  display none
  var86726f86f6eb6cb736e50051 = "" + md + ""
  @media var86726f86f6eb6cb736e50051
    display block
.visible-lg
  display none
  var90d5dfa8f14e5a1395f433f8 = "" + lg + ""
  @media var90d5dfa8f14e5a1395f433f8
    display block
.hidden-xs
  display none
  varb83ca358798efe958b66392c = "" + sm + ""
  @media varb83ca358798efe958b66392c
    display block
.hidden-sm
  display block
  var5333c106ccf751327abd4e25 = "" + sm + ""
  @media var5333c106ccf751327abd4e25
    display none
.hidden-md
  display block
  vara71e9a6fc913f90b62e47bc3 = "" + md + ""
  @media vara71e9a6fc913f90b62e47bc3
    display none
.hidden-lg
  display block
  varf2e39d2651722a850a0b7307 = "" + lg + ""
  @media varf2e39d2651722a850a0b7307
    display none
