type-size-display-jumbo()
  font-size 112px
.type-size-display-jumbo
  type-size-display-jumbo()
type-size-display-larger()
  font-size 56px
.type-size-display-larger
  type-size-display-larger()
type-size-display-large()
  font-size 45px
.type-size-display-large
  type-size-display-large()
type-size-display()
  font-size 34px
.type-size-display
  type-size-display()
type-size-headline()
  font-size 24px
.type-size-headline
  type-size-headline()
type-size-title()
  font-size 20px
.type-size-title
  type-size-title()
type-size-subhead()
  font-size 16px
.type-size-subhead
  type-size-subhead()
type-size-body()
  font-size 14px
.type-size-body
  type-size-body()
type-size-caption()
  font-size 12px
.type-size-caption
  type-size-caption()
.type-black
  color color-black
.type-black-light
  color color-black-light
.type-black-lighter
  color color-black-lighter
.type-black-lightest
  color color-black-lightest
.type-white
  color color-white
.type-white-light
  color color-white-light
.type-white-lighter
  color color-white-lighter
.type-white-lightest
  color color-white-lightest
type-display-jumbo()
  @extend .type-size-display-jumbo
  font-weight 300
  letter-spacing -0.1px
.type-display-jumbo
  type-display-jumbo()
type-display-larger()
  @extend .type-size-display-larger
  font-weight 400
  letter-spacing -0.05px
.type-display-larger
  type-display-larger()
type-display-large()
  @extend .type-size-display-large
  line-height 1.067
  font-weight 400
.type-display-large
  type-display-large()
type-display()
  @extend .type-size-display
  line-height 1.176
  font-weight 400
.type-display
  type-display()
type-headline()
  @extend .type-size-headline
  line-height 1.333
  font-weight 400
.type-headline
  type-headline()
type-title()
  @extend .type-size-title
  font-weight 500
  letter-spacing .05px
.type-title
  type-title()
type-subhead-loose()
  @extend .type-size-subhead
  line-height 1.75
  font-weight 400
  letter-spacing .1px
.type-subhead-loose
  type-subhead-loose()
type-subhead()
  @extend .type-size-subhead
  line-height 1.5
  font-weight 400
  letter-spacing .1px
.type-subhead
  type-subhead()
type-body-strong()
  @extend .type-size-body
  line-height 1.429
  font-weight 500
  letter-spacing .1px
.type-body-strong
  type-body-strong()
type-body-loose()
  @extend .type-size-body
  line-height 1.714
  font-weight 400
  letter-spacing .1px
.type-body-loose
  type-body-loose()
type-body()
  @extend .type-size-body
  line-height 1.429
  font-weight 400
  letter-spacing .1px
.type-body
  type-body()
type-caption()
  @extend .type-size-caption
  font-weight 400
  letter-spacing .2px
.type-caption
  type-caption()
type-button()
  @extend .type-size-body
  text-transform uppercase
  font-weight 500
  letter-spacing .1px
.type-button
  type-button()
