lesscss-percentage(n)
  (n * 100)%
@import '../../lib/import'
@import 'paper-dropdown'
paper-dropdown-menu.dropdown-menu-dark
  border-bottom 1px solid color-primary
  &::shadow
    #label, #arrow
      color color-white
  #label, #arrow
    color color-white
  paper-dropdown
    @extend .dropdown-dark
paper-dropdown-menu
  var82264a2f7c910848d42e0daa = "" + xs + ""
  @media var82264a2f7c910848d42e0daa
    font-size 90%
