<template name="ContentEdit">
  <h3>Edit Content</h3>
  {{#with selectedContent}}
    {{> contentForm}}
  {{/with}}
</template>

<template name="ContentCreate">
    <h3>Create Content</h3>
    {{#with selectedContent}}
        {{> contentForm}}
    {{/with}}
</template>

<template name="contentForm">
   <form>
    <label for="title">Title</label>
    <div class="formError">{{errors.title}}</div>
    <input type="text" name="title" value="{{title}}" placeholder="Content title" />

    <label for="site">Site</label>
    <div class="formError">{{errors.site}}</div>
    <select name="site">
      <option value="all">all</option>
      {{#each sites}}
        <option {{siteCheck ..}} value={{site}}>{{name}}</option>
      {{/each}}
    </select>
    
    <label for="contentType">Type</label>
    <div class="formError">{{errors.contentType}}</div>
    <select name="contentType">
      {{#each contentTypes}}
        <option {{contentTypeCheck ..}} value={{contentType}}>{{name}}</option>
      {{/each}}
    </select>

    <label for="datePublished">Date Published</label>
    <div class="formError">{{errors.datePublished}}</div>
    <input name="datePublished" value={{datePublished}} />
    
    <label for="body">Body (Markdown)</label>
    <div class="formError">{{errors.body}}</div>
    <textarea name="body" placeholder="Ideas formatted in Markdown">{{body}}</textarea>
    <div class="buttons">
      <button class="delete btn">Delete</button>
      <input class="save btn" type="submit" value="Save" />
    </div>
</form>
</template>
