lesscss-percentage(n)
  (n * 100)%
@import '../lib/import'
.btn
  @extend .type-button
.btn-accent
  background color-accent
  color color-white
.btn-primary
  background color-primary
  color color-white
.btn-flat-accent
  color color-accent
.btn-flat-primary
  color color-primary
.btn-flat-white
  color color-white
.btn-lg
  @extend .type-size-subhead
  var64af53affd63bd78c1e73f0b = "" + md + ""
  @media var64af53affd63bd78c1e73f0b
    @extend .type-size-headline
